<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Certidões</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
	<div class="container my-2">
		<div class="card">
			<div class="card-body">

				<h1>Lista de certidões</h1>
				<table class="table table-striped table-responsive-md">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Cartório</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="certidao : ${certidoes}">
							<td><span th:text="${certidao.nome}"> </span></td>
							<td><span th:text="${certidao.cartorio.nome}"> </span></td>
							<td><a th:href="@{/certidao/delete/{id}(id=${certidao.id})}"
								class="btn btn-danger"><i class="fas fa-trash-alt ml-2"></i></a></td>
						</tr>
					</tbody>
				</table>
				<p class="my-5">
					<a class="btn btn-primary" th:object="${cartorio}"
						th:href="@{/certidao/add/{id}(id=${cartorio.id})}"><i
						class="fas fa-plus ml-2">Adicionar uma nova certidão</i></a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>